<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Sleep Tracking for better Health. Main features are sleep reminder notification, auto and manual modes.">
  <meta name="keywords" content="Sleep, Tracking, Monitoring, Auto, Manual, Reminder Notification.">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Sleep Easy - Sleep Tracking for Better Health</title>

  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="sleep-easy-blue navigation-header" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
        <img src="./favicon-32x32.png" />
        <span>Sleep Easy</span>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#features">Features</a></li>
        <li><a href="#help">Help</a></li>
        <li><a href="#feedback">Feedback</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#features">Features</a></li>
        <li><a href="#help">Help</a></li>
        <li><a href="#feedback">Feedback</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section index-banner bottom-border" id="index-banner">
    <div class="container">
      <div class="row">
        <div class="col s12 l8 info-header valign-wrapper">
          <div class="">
            <h1 class="header center sleep-easy-blue-texti">Sleep Easy</h1>
            <div class="row center header-text">
              <div class="title-text">Sleep Tracking for better health</div>
            </div>
            <div class="row center header-text">
              <div class="subtitle-text">Auto mode <span class="beta-text">(Beta)</span> and Manual mode for better sleep tracking</div>
            </div>
            <div class="row center">
              <a href="https://play.google.com/store/apps/details?id=com.sleepeasy" id="download-button" class="btn-large btn-xlarge waves-effect waves-light sleep-easy-blue">
                <i class="material-icons left">android</i>
                Download for Android
              </a>
            </div>
          </div>
        </div>
        <div class="col l4">
          <div class="slider hide-on-med-and-down">
            <ul class="slides">
              <li>
                <img src="/images/screen1.png">
              </li>
              <li>
                <img src="/images/screen2.png">
              </li>
              <li>
                <img src="/images/screen3.png">
              </li>
              <li>
                <img src="/images/screen4.png">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="features" class="section bottom-border scrollspy">
    <div class="container">
      
      <div class="row">

        <p class="row center">
          <h3 class="center-align subtitle-text">Features</h3>
        </p>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center sleep-easy-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Auto mode</h5>

            <p class="light">Auto mode watches for phone movement to decide whether you are asleep or awake.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center sleep-easy-blue-text"><i class="material-icons">notifications_paused</i></h2>
            <h5 class="center">Reminder Notification</h5>

            <p class="light">Get sleep reminder notification daily at a configured time.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center sleep-easy-blue-text"><i class="material-icons">sentiment_very_satisfied</i></h2>
            <h5 class="center">Easy to use</h5>

            <p class="light">Do the entire process right from the notification area without even opening the app.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <div id="help" class="section bottom-border scrollspy">
    <div id="help-guide-holder" class="container">
      
      <div class="row">
        <p class="row center">
          <h3 class="center-align subtitle-text">Help Guide</h3>
        </p>
      </div>

    </div>
  </div>

  <div id="feedback" class="section bottom-border scrollspy">
    <div id="feedback-holder" class="container">
      
      <div class="row">
        <p class="row center">
          <h3 class="center-align subtitle-text">Feedback</h3>
        </p>
      </div>

      <div class="row content">
        Your feedbacks are highly appreciated. You can give feedbacks through <a class="feedback-link" href="http://palerdot.in" target="_blank">app store</a>, or taking this <a class="feedback-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdWMjkL0vQziMNMm5Yh_WeqLatOTGi5rDTiJoY6PQuyiL0BAQ/viewform" target="_blank">short survey</a>. You can also send an email directly to me at <a class="feedback-link" href="mailto:arun@sleepeasyapp.com" target="_blank">arun@sleepeasyapp.com</a>.
      </div>

    </div>
  </div>

  <div id="subscription" class="section bottom-border scrollspy">
    <div id="subscription-holder" class="container">
      
      <div class="row">
        <p class="row center">
          <h3 class="center-align subtitle-text">Subscribe</h3>
        </p>
      </div>

      <div class="row content">
        <form
          id="sleep-easy-subscription-form" 
          action="https://sleepeasyapp.us12.list-manage.com/subscribe/post" 
          method="post" class="col s12">
          <div class="row">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8dc556aa0db22aef7d173eb12_323c232399" tabindex="-1" value=""></div>
            <div class="input-field col s12 m10">
              <i class="material-icons prefix">email</i>
              <input id="subscription-email" name="EMAIL" type="email" class="validate" placeholder="Please subscribe in case you are interested in getting occasional updates about the app ...">
              <label for="subscription-email">Email</label>
              <input type="hidden" name="u" value="8dc556aa0db22aef7d173eb12">
              <input type="hidden" name="id" value="323c232399">
            </div>
            <div class="input-field col s12 m2 center-align">
              <button class="btn waves-effect waves-light sleep-easy-blue" type="submit" name="action">Subscribe
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

  <footer class="page-footer sleep-easy-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
            Sleep Easy is created to easily track your sleep for better health. Your feedbacks are highly appreciated and will help in the evolution of the app.
          </p>
        </div>
        <div class="col l6 s12 right-align connect-links">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li>
              <a class="white-text connect-link" href="https://twitter.com/sleepeasyapp">
                <img src="./images/twitter-50.png" width="25" height="25">
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a class="white-text connect-link" href="https://www.instagram.com/sleepeasyapp/">
                <img src="./images/instagram-50.png" width="25" height="25">
                Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <!-- <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://palerdot.in">palerdot</a>
      </div> -->
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <script src="js/init.js"></script>


  <script id="help-template" type="text/x-jsrender">
    <div class="row">
      <div class="col s12">
        <div class="card help-info">
          <div class="card-content">
            <!-- <span class="card-title">{{:question}}</span> -->
            <span class="card-title question">
              {{for question}}
                {{if type == "icon"}}
                  <i class="material-icons help-icon">{{:content}}</i>
                {{else type == "color_icon"}}
                  <i class="material-icons help-icon" style="color:{{:color}};">{{:content}}</i>
                {{else type == "span"}}
                  <span>{{:content}}</span>
                {{else type == "bold"}}
                  <span class="bold-text">{{:content}}</span>
                {{else type === "beta_text"}}
                  <span class='beta-text'>{{:content}}</span>
                {{else}}
                {{/if}}
              {{/for}}
            </span>
            <!-- <p>{{:answer}}</p> -->
            <p class="answer">
              {{for answer}}
                {{if type == "icon"}}
                  <i class="material-icons help-icon">{{:content}}</i>
                {{else type == "color_icon"}}
                  <i class="material-icons help-icon" style="color:{{:color}};">{{:content}}</i>
                {{else type == "span"}}
                  <span>{{:content}}</span>
                {{else type == "bold"}}
                  <span class="bold-text">{{:content}}</span>
                {{else type === "beta_text"}}
                  <span class='beta-text'>{{:content}}</span>
                {{else}}
                {{/if}}
              {{/for}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117108290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117108290-1');
  </script>


  </body>
</html>
